body{
	background-color: #FAEBD7;
}

.container {
	margin-left: 80px;
}

.container .form-group {
	width: 48%;
	margin-left: 27%;
	margin-top: 25%;
}

.container .form-group input {
	text-align: center;
	border-radius: 30px;
}

.container .form-group button {
	margin-top: 3%;
	margin-left: 30%;
	width: 35%;
	border-radius: 30px;
}

.container .jumbotron {
	background-color: #FAEBD7;
}

/* Group */
#group-logo {
	position: absolute;
	width: 469px;
	height: 100px;
	left: 490px;
	top: 25%;
}

.rectangle-3{
	height: 88px;

	color: #ffffff;
	background: #B7E1F3;
	border-radius: 30px;
}

/* FIND RESTO */
h1 {
	width: 459px;
	height: 100px;

	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 72px;
}

.container #result {
	margin-left: 43%;
	margin-top: 3%;

	font-weight: bold;
	font-size: 40px;
}

.container p {
	width: 549px;
	height: 30px;
	margin-left: 30%;
	top: 225px;

	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 22px;

	color: #ABA7A7;
}

#gambar-resto {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	background-image: url("../restaurant.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 25px;
}

.to-do-list{
	background-color: white;
	border-radius: 40px;
	text-align: center;
	position: relative;
	z-index: 15;
	margin-bottom: 60px;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.to-do-list:after{
	content:"";
	display:block;
	height:25px; /* Which is the padding of div.container */
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin-right: -15px;
	margin-left: 10%;
}

.flex-item{
	padding: 0 15px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 20%;
}

.to-do-list:hover {
	-webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	-webkit-transform: translate(0, -5px);
	-moz-transform: translate(0, -5px);
	-o-transform: translate(0, -5px);
	transform: translate(0, -5px);
}

.to-do-list .to-do-list-title {
	font-size: 20px;
	font-weight: 700;
	padding: 10px 10px 0;
	border-bottom: 1px solid black
}

.to-do-list .to-do-list-date-added {
	font-size: 12px;
	padding: 0 10px;
}

.to-do-list .to-do-list-description {
	padding: 10px 25px;
	z-index: 15;
	height: auto;
	text-align: justify;
	overflow: auto;
	font-size: 13px;
}