{% extends "layout/base.html" %}

{% block content %}
<div class="container">
	<div id="group-logo">
		<h1>Find <b class="rectangle-3">Resto</b></h1>
	</div>
	<form action="{% url 'main:search' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<input name="food" type="text" class="form-control" id="input" placeholder="Seach Here . . .">
			<button type="submit" class="btn btn-info">Search</button>
		</div>
	</form>
</div>
{% endblock %}