{% extends "layout/base.html" %}

{% block header %}
	{% include "partials/header.html" %}
{% endblock %}

{% block content %}
<div class="container">
	{% if city_not_found %}
		<div class="jumbotron">
			<div class="alert alert-danger text-center">
				<h2>Maaf Kota Yang Anda Cari</h2>
				<h2>Tidak Ditemukan</h2>
			</div>
		</div>
	{% elif cuisine_not_found %}
		<div class="jumbotron">
			<div class="alert alert-danger text-center">
				<h2>Maaf Makanan Yang Anda Cari</h2>
				<h2>Tidak Ditemukan</h2>
			</div>
		</div>
	{% else %}
		<h2 id="result">RESULT</h2>
		<p>Here’s some restaurant base on your search</p>

		<div class="jumbotron">
			<div class="flex">
				{% for resto in list_resto %}
					<div class="flex-item">
						<div class="to-do-list">
							<div class="to-do-list-title">
								{{ resto.name }}
							</div>
							<div class="to-do-list-description">
								<img id="gambar-resto" src="{{ resto.image }}">
								{{ resto.address }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

</div>
{% endblock %}